corpus/TTS-Portuguese-Corpus.zip
tools/festival  
tools/festvox  
tools/flite  
tools/phonetisaurus-pypi 
tools/speech_tools  
tools/SPTK  
tools/SPTK-3.6  
tools/SPTK-3.6.tar.gz
tools/REAPER
tools/utils.source
tools/g2p
corpus/TTS-Portuguese-Corpus
corpus/Edresson/wav/
corpus/1000-sentences-thls-dataset/
corpus/Pieroni/wav
voices/festival
