[submodule "g2p/wikipron"]
	path = g2p/wikipron
	url = https://github.com/CUNY-CL/wikipron
[submodule "tools/speech_tools"]
	path = tools/speech_tools
	url = https://github.com/festvox/speech_tools
[submodule "tools/REAPER"]
	path = tools/REAPER
	url = https://github.com/google/REAPER
[submodule "tools/kenlm"]
	path = tools/kenlm
	url = https://github.com/kpu/kenlm
[submodule "tools/mitlm"]
	path = tools/mitlm
	url = https://github.com/mitlm/mitlm/
[submodule "tools/SPTK"]
	path = tools/SPTK
	url = https://github.com/sp-nitech/SPTK
[submodule "tools/festvox"]
	path = tools/festvox
	url = https://github.com/NietteLabs/festvox
[submodule "tools/festival"]
	path = tools/festival
	url = https://github.com/NietteLabs/festival
[submodule "tools/Phonetisaurus"]
	path = tools/Phonetisaurus
	url = https://github.com/NietteLabs/Phonetisaurus/
